@font-face {
  font-family: "OpenSans";
  src: url("../fonts/web/opensans.woff2") format("woff2"),
        url("../fonts/web/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/web/opensanslight.woff2") format("woff2"),
        url("../fonts/web/opensanslight.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/web/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/web/gilroyextrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/web/gilroylight.woff2") format("woff2"),
        url("../fonts/web/gilroylight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: lighter;
  color: #000000;
}

a {
  text-decoration: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

ul {
  list-style: none;
  color: #000000;
}

button,
.button,
.kinds_of_servises,
.more_about_us,
.site_navigation a,
.kinds_of_servises,
 .list_of_goods a {
  letter-spacing: 3.6px;

}


.main_header_container {
  display: flex;
  position: relative;
  background-color: #f7e296;
  margin: 40px auto 0px auto;
  width: 1160px;
  min-height: 300px;

}
.inner_page .main_header_container {
  min-height: 187px;
}
                                     /*сетка для шапки сайта*/
.main_header_logo {
  position: absolute;
  top: -19px;
}

.main_navigation {
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  margin-top: 40px;
  margin-left: 60px;
  margin-right: 60px;
}

.site_navigation_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  outline: 2px solid red;
  margin-top: 29px;
}

.site_navigation li:nth-of-type(2) {
  margin-right: 68px;
}

.dropdown_content {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  position: absolute;
  top: 145px;
  right: 0;
  width: 1160px;
  height: 155px;
  z-index: 10;
  background-color: #f7e296;
  display: none;
}

.dropdown_content_container {
  width: 560px;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 60px;
}

.dropdown_content_container a {
  outline: 2px solid red;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.list_of_goods a {
  position: relative;
  padding-right: 20px;
}

.list_of_goods a::after {
  content: " ";

  position: absolute;

  width: 20px;
  height: 20px;
  top: 2px;
  right: -12px;

  background-image: url("../img/svg-device/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.dropdown_content a {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: lighter;
  color: #000000;
  letter-spacing: 0.15px;
  text-transform: none;
}

.main_navigation .site_navigation_container > div:hover .dropdown_content {
  display: block;
}

.site_functionality_container {
  position: relative;
  display:flex;
  flex-wrap: wrap;
  align-items: baseline;
  min-height: 20px;
  width: 100%;

}

.site_search {
  position: relative;
  margin-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  border: none;
  margin-right: auto;
}

.site_search::before {
  content: " ";

  position: absolute;

  width: 10px;
  height: 20px;
  top: 20px;
  left: 0px;

  background-image: url("../img/svg-device/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: black;
}

.site_functionality {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 500px;
  margin: 0;
  padding: 0;
}

.site_functionality .login_link {
  position: relative;
  padding-left: 27px;
}

.site_functionality .compare {
  position: relative;
  padding-left: 200px;
}

.site_functionality .cart  {
  position: relative;
  padding-left: 20px;
}

.site_functionality .compare::before {
  content: " ";

  position: absolute;

  width: 10px;
  height: 10px;
  top: 8px;
  right: 82px;

  background-image: url("../img/svg-device/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login_link::before {
  content: " ";

  position: absolute;

  width: 15px;
  height: 18px;
  top: 6px;
  left: 1px;

  background-image: url("../img/svg-device/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site_functionality .cart::before {
  content: " ";

  position: absolute;

  width: 15px;
  height: 18px;
  top: 6px;
  left: 1px;

  background-image: url("../img/svg-device/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site_navigation {
  outline: 2px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 500px;
  margin-top:0px;
  padding: 0;
  margin: 0;
  align-items: baseline;
  margin-left: auto;

}
                                     /*сетка для шапки сайта конец*/
.visually_hidden { /*убрал скрытые оглавления*/
  display:none;
}

.description_of_goods_slide_2,      /*убрал временно скрытые слайды*/
.description_of_goods_slide_3 {
  display: none;
}


.description_of_goods_slide_container {
  position: relative;
  z-index: 1;
  display: flex;
  margin: -112px auto 0px auto;
  padding: 0px;
  width: 1160px;
  min-height: 300px;
  background-image: url(../img/slider01.png);
  background-position-x: 935px;
  background-position-y: 10px;
  background-repeat: no-repeat;
}
.description_of_goods_slide_container img {
  margin-left: 90px;

}
.description_of_goods_container {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  padding: 0;
  margin-left: auto;
  margin-right: 80px;
  margin-top: 62px;

}

.short_decription_container {
  width: 480px;
  height: auto;
}

.switcher_container {
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  height: 30px;
  margin-top: 10px;
}

.switcher_container a {
  margin-right: auto;
  margin-left: 0px;
}
.features_of_goods {
  width: 100%;
  outline: 2px solid red;
  margin-top: auto;
}
.short_decription {
  display: flex;
  flex-wrap: wrap;
}

.kind_of_goods {
  display: flex;
  margin: 92px auto 0px auto;
  width: 1160px;
  padding: 0;
  min-height: 300px;
  justify-content: space-between;

}
.kind_of_goods div {
  width: 160px;
  height: 160px;
  background: #f7e296;
  z-index: -1;
  display: flex;
  margin-bottom: 35px;

}

.kind_of_goods div:hover {
  background: #f0c52e;
}

.kind_of_goods li:active :not(div) {
  opacity: 0.3;
}


.kind_of_goods svg {
  margin: auto;
}

.monopods svg {
  margin-bottom: 0;
}

.kind_of_goods span {
  display: flex;
  margin-bottom: auto;
  width: 160px;
  height: auto;
  line-height: normal;
}

.kinds_of_servises,
.site_navigation a {
  color: #000000;

}

.site_functionality,
.site_functionality a,
.site_functionality_footer a {
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: lighter;
  text-transform: none;
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  list-style: none;
  letter-spacing: 0.47px;
}
.site_navigation a:hover,
.main_header_logo:hover,
.site_functionality a:hover {
  opacity: 0.6;
}
.site_navigation a:active,
.main_header_logo:active,
.site_functionality a:active {
  opacity: 0.3;
}
span.catchphrase {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  color: #000000;
  line-height: normal;
  letter-spacing: 0.47px;
  width:

}
.description_of_goods_container p {
  position: relative;
}
.description_of_goods_container p::after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  top: -40px;
}
.features td {
  text-decoration: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 36px;
}


.description_of_assurance,
.description_of_credit,
.feedback {
  display: none;
}
.servises_container {
  position: relative;
  z-index: 10;
  display: flex;
  min-height: 220px;
  padding-bottom: 70px;
  background: #e5e5e5;
  margin-top: 116px;
  outline: 2px solid black;
}




img {
  max-width: 100%;
  height: auto;
}

.visually_hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
















.servises {
  outline: 2px solid red;
  width: 1160px;
  min-height: 320px;
  margin: -100px auto 0px auto;
  display: flex;

}

.kinds_of_servises {
  padding: 0;
  outline: 2px solid blue;
  margin-top: 81px;
  margin-bottom: auto;

  min-height: 168px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 280px;

}

.kinds_of_servises li {
  outline: 2px solid pink;
  display: flex;
  width: 100%;
  height: content;
  padding: 0;
  margin: 0;
}

.kinds_of_servises a {
  position: relative;
  min-width: 160px;
  text-align: center;
  cursor: pointer;
}

.kinds_of_servises a::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: -1;
}

.kinds_of_servises a:active::before {
  background-color: #000000;
  padding-right: 120px;
  height: 100%;
}
.kinds_of_servises a:active {
  color: #f7e184;
}
.kinds_of_servises a:hover::before {
  height: 100%;
  transition: 0.2s;
  transition-timing-function: linear;
}

.description_of_servises {
  position: relative;
  border-left: 8px solid #000000;
  outline: 2px solid blue;
  display: flex;
  flex-wrap: wrap;
  width: 880px;
}
.description_of_servises h2 {
  outline: 2px solid red;
}
.description_of_delivery p {
  outline: 2px solid yellow;
  margin-top: 26px;
  width: auto;
  height: auto;
  font-size: 15px;
  line-height: 31px;
  letter-spacing: 0.26px;
}

.description_of_delivery {
  outline: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-top: 79px;
  margin-left: 115px;
  margin-bottom: auto;
  margin-right: auto;
  width: 430px;
  min-height: 170px;
  height: auto;
}

h2 {
  letter-spacing: 1px;
}
.description_of_delivery h2 {
  margin-bottom: 10px;
  margin-top: 0px;
  padding: 0:
}

.brands_peace {
  display: flex;
  margin-top: 92px;

}

.list_of_brands {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
  outline: 2px solid blue;

}

.list_of_brands li {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: 260px;
  outline: 2px solid red;
}

.lable .hidden {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.lable:hover .hidden {
  display: block;
}
.lable img {
  outline: 2px solid black;
}

.main_footer_container {
  display: flex;
  background-color: #464646;
  min-height: 325px;
  margin-top: 77px;
}
.main_footer {
  display: flex;
  flex-wrap: wrap;
  outline: 2px solid white;
  margin: 0px auto;
  width: 1160px;
}

.site_functionality_footer {
  margin: 0;
  padding: 0;
  min-width: 323px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  outline: 2px solid yellow;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 18px;
}

.login svg {
  margin-right: 6px;
}

.compare svg {
  margin-right: 6px;
}

.footer_kinds_of_servises {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  outline: 2px solid red;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  outline: 2px solid yellow;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  min-width: 160px;
}

.site_functionality_footer span {
  opacity: 0.7;
}
.social-buttons svg {
  opacity: 0.3;
}

.social-buttons svg:hover,
.site_functionality_footer a:hover svg {
  opacity: 0.6;
}

.social-buttons svg:active {
  opacity: 0.1;
}

.site_functionality_footer a:active {
 opacity: 0.3;
}

.site_functionality_footer a:hover span {
  opacity: 1;
}

.footer_logo:hover,
.HTMLacademy_logo:hover,
.footer_kinds_of_servises a:hover {
  opacity: 0.6;
}

.footer_logo:active,
.HTMLacademy_logo:active,
.footer_kinds_of_servises a:active {
  opacity: 0.3;
}

.footer_logo_link {
  margin-top: auto;
  outline: 2px solid red;
}
.site_functionality_footer_container {
  display: flex;
  outline: 2px solid blue;
  width: 100%;
  min-height: 80px;
}

.footer_kinds_of_servises_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  outline: 2px solid white;
}

.footer_kinds_of_servises_container {
  margin: 0;
  padding: 0;
}

.footer_kinds_of_servises_container .contact_infirmation {
  outline: 2px solid red;
  margin-right: auto;
}

.footer_kinds_of_servises_container .phone {
  outline: 2px solid yellow;
  order: 1;
  margin-left: auto;
}

.footer_navigation {
  margin:auto;
  margin-top: 10px;
  min-width: 440px;
}

.information_about_company {
  outline: 2px solid red;
  display: flex;
  flex-direction: column;

}

.information_about_company_container {
 display: flex;
 margin-left: auto;
 margin-right: auto;
 width: 1160px;
 padding-top: 150px;
}

.about_us {
  outline: 2px solid yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 560px;
  min-height: 520px;
  margin-right: 40px;
  padding-right: 100px;
  box-sizing: border-box;
}
.contact_information {
  display: flex;
  flex-wrap: wrap;
  outline: 2px solid blue;
  width: 560px;
  min-height: 520px;
}

.contact_information img {
  width: 560px;
  height: 222px;
  margin-bottom: 26px;
}

.contact_information p {
  margin-top: 25px;
  line-height: 30px;
}

.about_us h2 {
  position: relative;
  margin: 0;
  padding: 0;
  outline: 2px solid green;

}

.contact_information h2::before,
.about_us h2::before {
  content: " ";

  position: absolute;

  width: 80px;
  height: 7px;
  bottom: 102px;
  background-color: #000000;

}
.about_us p {
  outline: 2px solid black;
}
.about_us p:first-of-type {
  margin-top: 50px;
  min-width: 450px;
  line-height: 30px;
  letter-spacing: 0px;
}

.about_us p:last-of-type {
  margin-top: 30px;
  min-width: 474px;
  line-height: 30px;
  letter-spacing: 0px;
}
.contact_information h2 {
  position: relative;
  margin: 0;
  padding: 0;
  outline: 2px solid green;
}
.more_about_us_container {
  margin-top: auto;
  margin-right: auto;
  width: 100%;
  outline: 2px solid green;
}
.business_activities {
  outline: 2px solid blue;
  margin: 0;
  padding: 0;
  margin-bottom: auto;
}
.business_activities li {
  margin-bottom: 10px;
}
.kind_of_goods a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  text-transform: none;
}

.kind_of_goods li {
  list-style: none;
}

.button,
.more_about_us,
button {
  color: #000000;
  position: relative;
  width: auto;
  padding: 0 30px;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  background: none;
  cursor: pointer;
  display: inline-block;
  margin: auto;
}

.button::before,
.more_about_us::before,
button::before {
  content:'';
  position: absolute;
  width: 100%;
  height: 8px;
  background: #f0c52e;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

.button:hover::before ,
.more_about_us:hover::before ,
button:hover::before {
  height: 40px;
 transition: .2s;
 transition-timing-function: linear;
}

.button:active,
.more_about_us:active,
button:active {
  color: rgba(0, 0, 0, 0.3);
}

.monopods,
.about_us h2,
.contact_information h2,
.description_of_servises h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  color: #000000;
  text-transform: none;
}

.description_of_servises::before {
  content: " ";

  position: absolute;

  width: 136px;
  height: 164px;
  top: 85px;
  right: 65px;

  background-image: url("../img/svg-device/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.business_activities li {
  font-weight: bold;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 36px;
}
.contact_form input,
.contact_form textarea {
  border: none;
  background-color: #f2f2f2;
}





.footer_logo {
  color: #ffc600;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;

}
.footer_kinds_of_servises a,
.contact_infirmation,
.phone,
.site_functionality_footer a,
.social-button a {
  color: #ffffff;
  list-style: none;
}
.footer_kinds_of_servises a {
  letter-spacing: 3.6px;
}
.filters fieldset {
  border: none;
}

.filters {
  background-color: #efefef;
}
/* second page*/
.name_of_good_container {
  display:flex;
  flex-wrap:wrap;
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 44px;
}
.name_of_good_container h1 {
  margin: 0;
  padding: 0;
  min-width: 700px;
  letter-spacing: 0.47px;
  flex-grow: 1;
}

.breadcrumbs a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  list-style: none;
  text-transform: none;
  padding: 0;
  color: #000000;
  opacity: 0.3;
}
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 28px;
}
.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}
.breadcrumbs li:last-child {
  margin-right: 0;
}
.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}
.sort,
.types_of_sort {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.sort_container span,
.sort h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0;
  color: #000000;
  letter-spacing: 3.6px;
}
.types_of_sort li {
  margin-right: 30px;
}

.sort_container {
  display: flex;
  align-items: center;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.sort_container span {
  width: 270px;
  margin-left: 80px;
}

.sort_container ul {
  margin-left: 10px;
}

}
.types_of_sort a {
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: lighter;
  text-transform: none;
  font-size: 14px;
  color: #000000;
  list-style: none;
  letter-spacing: 0.47px;
}

.filters legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  list-style: none;
  text-transform: none;
  padding: 0;
  color: #000000;
}
.container_filters {
  display: flex;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;

}
.pagination_list {
  display: flex;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.pagination_item_back {
  margin-right: auto;
}

.pagination_item_next {
  margin-left: auto;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  align-items: flex-start;
}

/* kartochki tovarov*/
.catalog_items_monopods {

  display: flex;
  flex-wrap: wrap;
  width: 880px;
  margin: 20px auto;
}
.catalog_item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 125px;
  align-items: center;
}
.buttons_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

}

.buttons_container .button1 {
  display: none;
}

.catalog_item:hover .button1 {
  display: block;
  background-color: rgba(255,255,255, 0.7);
  z-index: 10;

}
