@font-face {
  font-family: "OpenSans";
  src: url("../fonts/web/opensans.woff2") format("woff2"),
        url("../fonts/web/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/web/opensanslight.woff2") format("woff2"),
        url("../fonts/web/opensanslight.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/web/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/web/gilroyextrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/web/gilroylight.woff2") format("woff2"),
        url("../fonts/web/gilroylight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: lighter;
  color: #000000;
}

a {
  text-decoration: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
}

ul {
  list-style: none;
  color: #000000;
}

button,
.button,
.kinds_of_servises,
.more_about_us,
.site_navigation a,
.kinds_of_servises {
  letter-spacing: 3.6px;

}
.list_of_goods a {
  letter-spacing: normal;
}

.main_header_container {
  display: flex;
  position: relative;
  background-color: #f7e296;
  margin: 40px auto 0px auto;
  width: 1160px;
  min-height: 300px;

}
.inner_page .main_header_container {
  min-height: 187px;
}
                                     /*сетка для шапки сайта*/
.main_header_logo {
  position: absolute;
  top: -19px;
}

.main_navigation {
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  margin-top: 42px;
  margin-left: 60px;
  margin-right: 60px;
}
.site_functionality_container {
  display:flex;
  min-height: 20px;
  width: 100%;

}
.site_search {
  background-color: transparent;
  border: none;
  margin-right: auto;
}

.site_functionality {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 500px;
  margin: 0;
  padding: 0;
}

.site_navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
  padding: 0;
  align-items: baseline;
}

.site_navigation a {
  margin-right: 20px;
}

.directory a {
  margin-right: auto;
}

.site_navigation > li {
  position: relative;
  display: inline-block;
}

.list_of_goods a {
  display: block;
}

.site_navigation .list_of_goods {
  position: absolute;
  display: none;
  width: 560px;
  margin: 0;
  padding: 0;
  background: #f7e296;
}

.site_navigation > li:hover .list_of_goods {
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: column;
  flex-wrap: wrap;
}
                                     /*сетка для шапки сайта конец*/
.visually_hidden { /*убрал скрытые оглавления*/
  display:none;
}

.directory {
  margin-right: auto;
  padding: 0;

}
.description_of_goods_slide_2,      /*убрал временно скрытые слайды*/
.description_of_goods_slide_3 {
  display: none;
}


.description_of_goods_slide_container {
  position: relative;
  z-index: 1;
  display: flex;
  margin: -112px auto 0px auto;
  padding: 0px;
  width: 1160px;
  min-height: 300px;
  background-image: url(../img/slider01.png);
  background-position-x: 935px;
  background-position-y: 10px;
  background-repeat: no-repeat;
}
.description_of_goods_slide_container img {
  margin-left: 90px;

}
.description_of_goods_container {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  padding: 0;
  margin-left: auto;
  margin-right: 80px;
  margin-top: 62px;

}

.short_decription_container {
  width: 480px;
  height: auto;
}

.switcher_container {
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  height: 30px;
  margin-top: 10px;
}

.switcher_container a {
  margin-right: auto;
  margin-left: 0px;
}
.features_of_goods {
  margin-top: auto;
  margin-right: auto;
}
.short_decription {
  display: flex;
  flex-wrap: wrap;
}

.kind_of_goods {
  display: flex;
  margin: 98px auto 0px auto;
  width: 1160px;
  padding: 0;
  min-height: 300px;
  justify-content: space-between;

}
.kind_of_goods div {
  width: 160px;
  height: 160px;
  background: #f7e296;
  z-index: -1;
  display: flex;
  margin-bottom: 35px;

}
.kind_of_goods div:hover {
  background: #f0c52e;
}

.kind_of_goods span:active,
.kind_of_goods img:active {
  opacity: 0.3;
}

.kind_of_goods img {
  margin: auto;
}
.kind_of_goods span {
  display: flex;
  margin-bottom: auto;
  width: 160px;
  height: auto;
  line-height: normal;
}

.kinds_of_servises,
.site_navigation a {
  color: #000000;

}

.site_functionality,
.list_of_goods a,
.site_functionality a,
.site_functionality_footer a {
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: lighter;
  text-transform: none;
  font-size: 15px;
  color: #000000;
  list-style: none;
  letter-spacing: 0.47px;
}
.site_navigation a:hover,
.main_header_logo:hover,
.list_of_goods a:hover,
.site_functionality a:hover {
  opacity: 0.6;
}
.site_navigation a:active,
.main_header_logo:active,
.list_of_goods a:active,
.site_functionality a:active {
  opacity: 0.3;
}
span.catchphrase {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  color: #000000;
  line-height: normal;
  letter-spacing: 0.47px;
  width:

}
.description_of_goods_container p {
  position: relative;
}
.description_of_goods_container p::after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  top: -40px;
}
.features td {
  text-decoration: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 36px;
}
.kinds_of_servises .button { /* buttons for section class="servises"*/
  color: #000000;
  position: relative;
  width: 160px;
  padding: 0 30px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  background: none;
  cursor: pointer;
  display: inline-block;
  margin: auto;
}

.kinds_of_servises a:active {
  position: absolute;
  z-index: 1;
  background-color: #000000;

  width: 280px;
  color: #f7e184;
  height: 40px;
}
.description_of_assurance,
.description_of_credit,
.feedback,
.hidden {
  display: none;
}
.servises_container {
  position: relative;
  display: flex;
  background: #e5e5e5;
  margin-top: 100px;
}
.about_us h2,
.contact_information h2 {
  margin: 0;
  padding: 0;

}



img {
  max-width: 100%;
  height: auto;
}
.visually_hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
















.servises {
  width: 1160px;
  margin: -100px auto 0px auto;
  display: flex;
}

.kinds_of_servises {
  margin-right: auto;
  margin-top: 105px;
  margin-bottom: 80px;
  margin-left: 0px;
  padding-left: 0px;
  min-height: 190px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.kinds_of_servises a {
  display: inline-block;
}
.description_of_delivery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 102px;
  margin-left: 8px;
  margin-bottom: auto;
  margin-right: auto;
  width: 430px
  height: auto;
}

h2 {
  letter-spacing: 1px;
}
.description_of_delivery h2 {
  margin-bottom: 10px;
  margin-top: 0px;
  padding: 0:
}
.hidden
.information_about_company,
.brands_peace {
  display: flex;
}
.brands_peace {
  margin-top: 130px;
  padding-right: 40px;

}
.main_footer_container {
  display: flex;
  background-color: #464646;
}
.main_footer {
  margin: 0px auto;
  width: 1160px;
}
.site_functionality_footer {
  display: flex;
}
.footer_kinds_of_servises {
  display: flex;
  margin: 0 auto 0 auto;
}
.social-buttons {
  display: flex;
}
.information_about_company_container,
.list_of_brands {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.information_about_company_container {
  margin-top: 145px;
  min-height: 550px;
}
.about_us {
  width: 650px;
}
.about_us h2 {
  margin-bottom: 50px;
}
.about_us p {
  margin-bottom: 30px;
}
.business_activities {
  margin-top: 75px;
}

}
.business_activities li {
  margin-bottom: 10px;
}
.kind_of_goods a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  text-transform: none;
}

.kind_of_goods li {
  list-style: none;
}

.button,
.more_about_us,
button {
  color: #000000;
  position: relative;
  width: auto;
  padding: 0 30px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  background: none;
  cursor: pointer;
  display: inline-block;
  margin: auto;
}

.button::before,
.more_about_us::before,
button::before {
  content:'';
  position: absolute;
  width: 100%;
  height: 8px;
  background: #f0c52e;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

.button:hover::before ,
.more_about_us:hover::before ,
button:hover::before {
  height: 40px;
 transition: .2s;
 transition-timing-function: linear;
}

.button:active,
.more_about_us:active,
button:active {
  color: rgba(0, 0, 0, 0.3);
}
/*
.kinds_of_servises a {
  display: inline-block;
  width: auto;
  padding: 0 30px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  background: none;
  cursor: pointer;
  margin: auto;
}

.kinds_of_servises a::before {
  content:" ";
  position: absolute;
  width: 100%;
  height: 8px;
  background: #f0c52e;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

.kinds_of_servises a:hover::before {
  height: 40px;
 transition: .2s;
 transition-timing-function: linear;
}

.kinds_of_servises a:active {
  padding-right: 20px;
  color: #f7e184;
  background-color: #000000;
}
*/
.monopods,
.about_us h2,
.contact_information h2,
.description_of_servises h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  color: #000000;
  text-transform: none;

}
.business_activities li {
  font-weight: bold;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.contact_form input,
.contact_form textarea {
  border: none;
  background-color: #f2f2f2;
}





.footer_logo {
  color: #ffc600;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;

}
.footer_kinds_of_servises a,
.contact_infirmation,
.phone,
.site_functionality_footer a,
.social-button a {
  color: #ffffff;
  list-style: none;
}
.footer_kinds_of_servises a {
  letter-spacing: 3.6px;
}
.filters fieldset {
  border: none;
}

.filters {
  background-color: #efefef;
}
/* second page*/
.name_of_good_container {
  display:flex;
  flex-wrap:wrap;
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 44px;
}
.name_of_good_container h1 {
  margin: 0;
  padding: 0;
  min-width: 700px;
  letter-spacing: 0.47px;
  flex-grow: 1;
}

.breadcrumbs a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  list-style: none;
  text-transform: none;
  padding: 0;
  color: #000000;
  opacity: 0.3;
}
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 28px;
}
.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}
.breadcrumbs li:last-child {
  margin-right: 0;
}
.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}
.sort,
.types_of_sort {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.sort_container span,
.sort h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0;
  color: #000000;
  letter-spacing: 3.6px;
}
.types_of_sort li {
  margin-right: 30px;
}

.sort_container {
  display: flex;
  align-items: center;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.sort_container span {
  width: 270px;
  margin-left: 80px;
}

.sort_container ul {
  margin-left: 10px;
}

}
.types_of_sort a {
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: lighter;
  text-transform: none;
  font-size: 14px;
  color: #000000;
  list-style: none;
  letter-spacing: 0.47px;
}

.filters legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  list-style: none;
  text-transform: none;
  padding: 0;
  color: #000000;
}
.container_filters {
  display: flex;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;

}
.pagination_list {
  display: flex;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.pagination_item_back {
  margin-right: auto;
}

.pagination_item_next {
  margin-left: auto;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  align-items: flex-start;
}

/* kartochki tovarov*/
.catalog_items_monopods {

  display: flex;
  flex-wrap: wrap;
  width: 880px;
  margin: 20px auto;
}
.catalog_item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 125px;
  align-items: center;
}
.buttons_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

}

.buttons_container .button1 {
  display: none;
}

.catalog_item:hover .button1 {
  display: block;
  background-color: rgba(255,255,255, 0.7);
  z-index: 10;

}
