@font-face {
  font-family: "OpenSans";
  src: url("../fonts/web/opensans.woff2") format("woff2"),
        url("../fonts/web/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/web/opensanslight.woff2") format("woff2"),
        url("../fonts/web/opensanslight.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/web/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/web/gilroyextrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/web/gilroylight.woff2") format("woff2"),
        url("../fonts/web/gilroylight.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: lighter;
  color: #464646;
}

a {
  text-decoration: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
}

ul {
  list-style: none;
  color: #000000;
}

button,
.button,
.kinds_of_servises,
.more_about_us,
.kinds_of_servises {
  letter-spacing: 3.6px;

}


.main_header {
  background-color: #f7e296;
}

.site_search {
  background-color: transparent;
  border: none;

}
input[placeholder] {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: lighter;
  color: #000000;
}

.kinds_of_servises,
.site_navigation a {
  color: #000000;

}
.site_functionality,
.list_of_goods a,
.site_functionality a {
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: lighter;
  text-transform: none;
  font-size: 15px;
  color: #000000;
  list-style: none;
}
.site_navigation a:hover,
.main_header_logo:hover,
.list_of_goods a:hover,
.site_functionality a:hover {
  opacity: 0.6;
}
.site_navigation a:active,
.main_header_logo:active,
.list_of_goods a:active,
.site_functionality a:active {
  opacity: 0.3;
}
span.catchphrase {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  color: #000000;

}
.kind_of_goods img {
  background-color: #f7e296;
  background-size: 160px;
}
.kind_of_goods a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  text-transform: none;
}
.kind_of_goods li {
  list-style: none;
}
.button,
.more_about_us,
.servises .delivery,
button {
color: #000000;
position: relative;
 width: auto;
 padding: 0 30px;
 font-size: 18px;
 font-weight: 700;
 text-transform: uppercase;
 border: 0;
 background: none;
 cursor: pointer;
 display: inline-block;
 margin: auto;
}
.button::before,
.more_about_us::before,
.servises .delivery::before,
button::before {
  content:'';
  position: absolute;
  width: 100%;
  height: 8px;
  background: #f0c52e;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}
.button:hover::before ,
.more_about_us:hover::before ,
button:hover::before,
.servises .delivery:hover::before {
  height: 40px;
 transition: .2s;
 transition-timing-function: linear;
}
.button:active,
.more_about_us:active,
button:active {
  color: rgba(0, 0, 0, 0.3);
}

.features {
  text-decoration: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: lighter;
  font-size: 36px;
}
.servises {
  background-color: #e5e5e5;
}




.main_footer {
  background-color: #464646;
}
.footer_logo {
  color: ffc600;
}
.contact_infirmation,
.phone,
.site_functionality_footer a,
.social-button a {
  color: #ffffff;
  list-style: none;
}
